{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="bio">
    <div class="row" id="section2">
        <div id="profile" class="col-lg-5 col-md-5">
            <div class="profile-area">
                <img class="avatar avatar-circle revealUp" src="/static/assets/images/avatar.png" alt="Anurag singh">
                <div class="profile-text revealUp">
                    <h2>Anurag Singh</h2>
                    <h3>Electrical Engineering 2023-2027</h3>
                    <h3>
                        <a href="https://www.iiit-bh.ac.in/" target="_blank" rel="noopener">
                            <span>International Institute Of Technology Bhubhneswar</span>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <section id="about" class="col-lg-7 col-md-7">
            <div class="container">
                <div class="row">

                    <div class="bio-content">
                        <h2 class="revealUp">Biography</h2>
                        <div class="article-style revealUp">
                            <p>Welcome! I'm Anurag Singh, a driven individual from Maihar, Madhya
                                Pradesh
                                (485771). My educational journey led me through Simran School and Blue
                                Bells
                                for my 10th and 12th grades, respectively. Currently immersed in the
                                world
                                of Electrical Engineering at IIIT Bhubneshwar.</p>
                            <p>Beyond the classroom, I've proven my mettle in hackathons, proudly
                                achieving
                                finalist status. My skills extend to web development, where I've
                                contributed
                                to the success of college fests. Whether crafting innovative solutions
                                in
                                hackathons or bringing digital magic to college events, I'm passionate
                                about
                                making a meaningful impact.</p>
                            <p>Join me on this exciting journey where my blend of technical prowess and
                                creative energy converges to create memorable experiences and solutions.
                            </p>
                            <p class="revealUp" style="font-size: 2em;"><i
                                    class="fas fa-download pr-1 fa-fw"></i>
                                Download
                                my
                                 
                                <a href="/media/resumes/anuragUPDATED.pdf" target="_blank">résumé</a>.</p>
                                
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>

{% endblock content %}