{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
<main>
  
    <!--
      - #HERO SECTION
    -->

    <div class="hero">

      <div class="container">

        <div class="left">

            <div class="profile-text">
                <h1 class="h1">
                    Hi, I'm <b>Anurag&nbsp;Singh</b>.
                  </h1>
                <h2 class="h2" style="font-weight: 800;">Electrical Engineering 2023-2027</h2>
                <h2 style="line-height: 30px;">
                    <a style="color: #667fea;" href="https://www.iiit-bh.ac.in/" target="_blank" rel="noopener">
                        <span>International Institute Of Technology Bhubhneswar</span>
                    </a>
                </h2>
                <br>
                <ul class="network-icon" aria-hidden="true">
                    
                    <li>
                        <a href="https://github.com/anurag6569201" target="_blank">
                            <i class="fab fa-github big-icon"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.linkedin.com/in/anurag6569/" target="_blank">
                            <i class="fab fa-linkedin big-icon"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="mailto:b323009@iiit-bh.ac.in" target="_blank">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="tel:8989591496" target="_blank">
                            <i class="fa-solid fa-phone"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://wa.me/918989591496" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://instagram.com/singh.anu404?utm_source=qr&amp;amp;igshid=NGExMmI2YTkyZg%3D%3D" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100025792005909" target="_blank">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    
                </ul>
            </div>
            
        </div>

        <div class="right">

          <div class="pattern-bg"></div>
          <div class="img-box">
            <img src="{% static './assets/images/heroPic.png' %}" alt="Julia Walker" class="hero-img">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
          </div>

        </div>

      </div>

    </div>
    <div class="main">
  
        <div class="container">
  
          <!--
            - BLOG SECTION
          -->
  
          <div class="blog">
  
            <h2 class="h2">About Me</h2>
  
            <div class="blog-card-group">
              <div class="blog-card" style="display: block;">
  
                <div class="blog-content-wrapper">

                    <div class="bio-content">
                        <h2>Biography</h2>
                        <div class="article-style">
                            <p>Welcome! I'm Anurag Singh, a driven individual from Maihar, Madhya
                                Pradesh
                                (485771). My educational journey led me through Simran School and Blue
                                Bells
                                for my 10th and 12th grades, respectively. Currently immersed in the
                                world
                                of Electrical Engineering at IIIT Bhubneshwar.</p>
                            <p>Beyond the classroom, I've proven my mettle in hackathons, proudly
                                achieving
                                finalist status. My skills extend to web development, where I've
                                contributed
                                to the success of college fests. Whether crafting innovative solutions
                                in
                                hackathons or bringing digital magic to college events, I'm passionate
                                about
                                making a meaningful impact.</p>
                            <p>Join me on this exciting journey where my blend of technical prowess and
                                creative energy converges to create memorable experiences and solutions.
                            </p>
                                
                        </div>
                    </div>
                </div>
  
              </div>
            </div>
  
          </div>
  
  
  
  
  
          <!--
            - ASIDE
          -->
  
          <div class="aside">
  
            <div class="newsletter">
  
              <h2 class="h2">More About Me</h2>
  
              <div class="wrapper">
                <p>
                    Explore my portfolio to gain deeper insights into my journey and timeline.
                </p>
  
                <a target="_blank" style="padding: .2em;text-align: center;" class="btn btn-secondary" href="https://anu6569.onrender.com">View Portfolio</a>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
</main>

{% endblock content %}